# Assignment 8 - Nithin Jose

In [54]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv('Admission_Prediction .csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [56]:
df.isnull().any()

Serial No.           False
GRE Score             True
TOEFL Score           True
University Rating     True
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

In [57]:
df['GRE Score'].fillna((df['GRE Score'].mean()), inplace=True)

In [58]:
df.isnull().any()

Serial No.           False
GRE Score            False
TOEFL Score           True
University Rating     True
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

In [59]:
df['TOEFL Score'].fillna((df['TOEFL Score'].mean()), inplace=True)
df['University Rating'].fillna((df['University Rating'].mean()), inplace=True)

In [60]:
df.isnull().any()

Serial No.           False
GRE Score            False
TOEFL Score          False
University Rating    False
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

In [61]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.000000,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.000000,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,316.558763,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.000000,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.000000,103.0,2.0,2.0,3.0,8.21,0,0.65

In [62]:
x=df.drop(["Chance of Admit","Serial No."],axis = 1)
y = df['Chance of Admit']

In [63]:
x.shape

(500, 7)

In [64]:
y.shape

(500,)

In [65]:
x.shape

(500, 7)

In [66]:
x.tail()

     GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
495      332.0        108.0                5.0  4.5  4.0  9.02         1
496      337.0        117.0                5.0  5.0  5.0  9.87         1
497      330.0        120.0                5.0  4.5  5.0  9.56         1
498      312.0        103.0                4.0  4.0  5.0  8.43         0
499      327.0        113.0                4.0  4.5  4.5  9.04         0

In [67]:
y.tail()

495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit, dtype: float64

In [68]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.20, random_state=42)

In [69]:
print(x_train)

     GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
249      321.0        111.0                3.0  3.5  4.0  8.83         1
433      316.0        111.0                4.0  4.0  5.0  8.54         0
19       303.0        102.0                3.0  3.5  3.0  8.50         0
322      314.0        107.0                2.0  2.5  4.0  8.27         0
332      308.0        106.0                3.0  3.5  2.5  8.21         1
..         ...          ...                ...  ...  ...   ...       ...
106      329.0        111.0                4.0  4.5  4.5  9.18         1
270      306.0        105.0                2.0  2.5  3.0  8.22         1
348      302.0         99.0                1.0  2.0  2.0  7.25         0
435      309.0        105.0                2.0  2.5  4.0  7.68         0
102      314.0        106.0                2.0  4.0  3.5  8.25         0

[400 rows x 7 columns]

In [70]:
print(y_train)

249    0.77
433    0.71
19     0.62
322    0.72
332    0.75
       ...
106    0.87
270    0.72
348    0.57
435    0.55
102    0.62
Name: Chance of Admit, Length: 400, dtype: float64

In [71]:
print(y_train.shape)

(400,)

In [72]:



from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(x_train, y_train)
y_pred=regressor.predict(x_test)

In [73]:
y_pred

array([0.861031  , 0.70135696, 0.68543935, 0.71722667, 0.79089718,
       0.80847345, 0.50531252, 0.70399211, 0.72880556, 0.75599297,
       0.75319643, 0.71431164, 0.72410311, 0.89583193, 0.76950903,
       0.5298796 , 0.81432305, 0.55794561, 0.56044476, 0.55865136,
       0.63928427, 0.55086258, 0.65356971, 0.78436478, 0.79629778,
       0.58645512, 0.85808782, 0.79816846, 0.66823088, 0.68395915,
       0.57667194, 0.73650531, 0.6179274 , 0.7805378 , 0.69474675,
       0.72876653, 0.55917979, 0.76646563, 0.59901315, 0.698405  ,
       0.88696524, 0.56394643, 0.67324096, 0.80572533, 0.89035746,
       0.57171356, 0.8901012 , 0.79601113, 0.77838885, 0.82817232,
       0.76199491, 0.67466304, 0.62059865, 0.55870147, 0.88572228,
       0.71033476, 0.89167225, 0.73190691, 0.58492241, 0.52254597,
       0.57303593, 0.63595219, 0.60979729, 0.61523571, 0.49797116,
       0.65257835, 0.78726759, 0.82407911, 0.65268814, 0.71140709,
       0.59077269, 0.78212753, 0.7002191 , 0.63665005, 0.5627116 ,
       0.67811404, 0.8059238 , 0.8204358 , 0.6088319 , 0.58832194,
       0.77216135, 0.75040311, 0.6518115 , 0.74826796, 0.73687995,
       0.71324706, 0.59121413, 0.75254517, 0.67861868, 0.63554213,
       0.71512556, 0.81916435, 0.88412767, 0.68366728, 0.7528    ,
       0.5314769 , 0.6956537 , 0.81658194, 0.73133309, 0.68249797])

In [74]:
regressor.score(x_test,y_test)

0.6371890235363594

In [75]:
from sklearn.metrics import accuracy_score

In [81]:
#Get a new Data and Check Whether the customer purchase or not—0(no) and 1(yes)
GRE_Score=float(input('Enter the GRE Score : '))
TOEFL_Score=float(input('Enter the TOEFL Score  : '))
University_Rating=float(input('Enter the University Rating) : '))
SOP=float(input('Enter the SOP value) : '))
LOR=float(input('Enter the LOR value) : '))
CGPA=float(input('Enter the CGPA value) : '))
Research=float(input('Enter the Research value) : '))
New_Data=[ [GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research]]
New_Data_User = pd.DataFrame(New_Data,columns=['GRE Score', 'TOEFL Score','University Rating','SOP','LOR','CGPA','Research'])
print(New_Data_User.head())
admission_chance_predictor= regressor.predict(New_Data_User)
print(admission_chance_predictor)

Enter the GRE Score : 2
Enter the TOEFL Score  : 2
Enter the University Rating) : 2
Enter the SOP value) : 2
Enter the LOR value) : 2
Enter the CGPA value) : 2
Enter the Research value) : 2
   GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
0        2.0          2.0                2.0  2.0  2.0   2.0       2.0
[0.00627836]

In [82]:
print("The chance of getting admission is:",admission_chance_predictor[0])

The chance of getting admission is: 0.006278363607251203

In [83]:
import pickle
pickle_file = open("svr_model.pkl","wb")
pickle.dump(regressor,pickle_file)
pickle_file.close()