We have a dataset which shows the purchase details of Duke(Bike). Our aim of this
project is to predict if the customer will purchase a Duke or not.Based on the given data (using SVM)

In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'/home/nithin/Desktop/foss-ml/8 day/assignment 8'

In [3]:
df = pd.read_csv('Admission_Prediction .csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [4]:
df.isnull().any()

Serial No.           False
GRE Score             True
TOEFL Score           True
University Rating     True
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

In [5]:
df['GRE Score'].fillna((df['GRE Score'].mean()), inplace=True)

In [6]:
df.isnull().any()

Serial No.           False
GRE Score            False
TOEFL Score           True
University Rating     True
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

In [7]:
df['TOEFL Score'].fillna((df['TOEFL Score'].mean()), inplace=True)
df['University Rating'].fillna((df['University Rating'].mean()), inplace=True)

In [8]:
df.isnull().any()

Serial No.           False
GRE Score            False
TOEFL Score          False
University Rating    False
SOP                  False
LOR                  False
CGPA                 False
Research             False
Chance of Admit      False
dtype: bool

In [9]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.000000,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.000000,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,316.558763,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.000000,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.000000,103.0,2.0,2.0,3.0,8.21,0,0.65

In [10]:
x=df.drop(["Chance of Admit","Serial No."],axis = 1)
y = df['Chance of Admit']

In [11]:
x.shape

(500, 7)

In [12]:
y.shape

(500,)

In [13]:
x.shape

(500, 7)

In [14]:
x.tail()

     GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  Research
495      332.0        108.0                5.0  4.5  4.0  9.02         1
496      337.0        117.0                5.0  5.0  5.0  9.87         1
497      330.0        120.0                5.0  4.5  5.0  9.56         1
498      312.0        103.0                4.0  4.0  5.0  8.43         0
499      327.0        113.0                4.0  4.5  4.5  9.04         0

In [15]:
y.tail()

495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: Chance of Admit, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.20, random_state=42)

In [ ]:
print(x_train)

In [ ]:
print(y_train)

In [ ]:
print(y_train.shape)

In [ ]:



from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(x_train, y_train)
y_pred=regressor.predict(x_test)

In [ ]:
y_pred

In [ ]:
regressor.score(x_test,y_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
#Get a new Data and Check Whether the customer purchase or notâ€”0(no) and 1(yes)
GRE_Score=float(input('Enter the GRE Score : '))
TOEFL_Score=float(input('Enter the TOEFL Score  : '))
New_Gender=int(input('Enter the Gender (0 for Male and 1 for Female) : '))
New_Data=[ [New_Age,New_Salary,New_Gender]]
New_Data_User = pd.DataFrame(New_Data,columns=['Age', 'Salary','Gender_Cat'])
print(New_Data_User.head())
user_classification = regressor.predict(New_Data_User)
print(user_classification)

In [ ]:
if (user_classification<=0):
    print("The user will not  buy Duke")
else:
    print("The user will  buy Duke")

In [ ]:
import pickle
pickle_file = open("svm_model.pkl","wb")
pickle.dump(svcclassifier,pickle_file)
pickle_file.close()